wordlist.pickle filter=lfs diff=lfs merge=lfs -text
adjacency_list.pickle filter=lfs diff=lfs merge=lfs -text
dictionary.pickle filter=lfs diff=lfs merge=lfs -text
graph.pickle filter=lfs diff=lfs merge=lfs -text
index2word.pickle filter=lfs diff=lfs merge=lfs -text
